.profile {
  width: 300px;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5), 10px 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 2%;
}

.container {
  padding: 0;
  margin: 0 auto;
  background-color: #ffffff;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
  gap: 10px;
}

.description .avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  font-weight: 700;
}

.tag {
  color: #a9a9a9;
}

.location {
  color: #a9a9a9;
}

.stats {
  margin-top: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  border-top: 1px dashed #a9a9a9;
}

.statsItem {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
  background-color: rgba(169, 169, 169, 0.3);
}

.statsItem .label {
  color: #a9a9a9;
}
.center {
  border-left: 1px dashed #a9a9a9;
  border-right: 1px dashed #a9a9a9;
}
.quantity {
  font-weight: 700;
}
